@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700;1,800&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #fbf7f4;
}

article {
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

.tittle article {
  background-image: url("http://placehold.it/1280x720");
  background-repeat: no-repeat;
  background-size: cover;
}
.tittle article .tittle_content {
  font-size: 111px;
  position: relative;
  bottom: -5em;
  left: 6%;
  width: 791px;
  font-family: "Bebas neue";
}

#header .button_detail {
  position: absolute;
  top: 67%;
  left: 1%;
  z-index: 21;
  background-color: #C00D0D;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
#header .details {
  background-color: white;
  position: absolute;
  top: 0;
  right: 16px;
  width: 100vw;
  height: 105vh;
  transition: all 1s;
  transform: translateX(110%);
  color: black;
  padding: 32px;
  z-index: 99;
}
#header .details .backbutoon {
  position: relative;
  z-index: 99;
}
#header .details .contentdetails {
  display: flex;
  align-items: center;
}
#header .details .contentdetails .left {
  width: 50vw;
  height: 100vh;
}
#header .details .contentdetails .left .img_détails {
  position: absolute;
  top: 10%;
  left: 10%;
}
#header .details .contentdetails .right {
  width: 50vw;
  height: 30vh;
  padding-right: 10%;
}
#header .details .contentdetails .right h2 {
  font-size: 70px;
  font-family: "Bebas neue";
  color: #C00D0D;
}
#header .details.open {
  transform: translateX(0%);
}
#header .topvideo {
  position: absolute;
  z-index: 9;
  top: 0;
  width: 100vw;
}
#header .videobg {
  width: 110vw;
  z-index: 1;
}
#header .videobg video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  object-position: center;
}
#header .header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6.25em;
  margin: 0 9em 0px 9em;
  z-index: 9;
}
#header .header_content img {
  margin-top: 5em;
}
#header .header_content button {
  width: 245px;
  height: 57px;
  padding: 16px 19px;
  background: #FFFFFF;
  color: #C00D0D;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-family: "nunito";
  margin-top: 5em;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
#header .header_content button:hover {
  transform: scale(0.9);
}
#header .header_content button:focus {
  outline: none;
}
#header .cta {
  position: relative;
  top: 15em;
}
#header .cta #cta_intro {
  text-decoration: none;
}
#header .cta #cta_intro p {
  color: #FFFF;
  font-size: 16px;
  font-weight: 50;
  font-family: "nunito";
  text-align: center;
}
#header .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#header .content h1 {
  font-size: 174px;
  font-family: "Bebas neue";
  color: #FFFF;
  letter-spacing: 0.015em;
  margin-top: 210px;
  margin-bottom: 24px;
  height: 166px;
}
#header .content h2 {
  font-size: 34px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  font-family: "nunito";
  font-weight: 100;
  margin-top: 8px;
}

#tom_explication h2 {
  font-size: 111px;
  font-family: "Bebas neue";
  margin: 66px 0 16px 145px;
  color: #C00D0D;
}
#tom_explication p {
  width: 617px;
  font-size: 20px;
  margin: 0 0 0 145px;
}
#tom_explication .img_content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.step {
  width: 100vw;
}
.step .button_detail {
  position: absolute;
  top: 67%;
  left: 1%;
  z-index: 21;
  background-color: #C00D0D;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.step .details {
  background-color: white;
  position: absolute;
  top: 0;
  right: 16px;
  width: 100vw;
  height: 105vh;
  transition: all 1s;
  transform: translateX(110%);
  color: black;
  padding: 32px;
  z-index: 99;
}
.step .details .backbutoon {
  position: relative;
  z-index: 99;
}
.step .details .contentdetails {
  display: flex;
  align-items: center;
}
.step .details .contentdetails .left {
  width: 50vw;
  height: 100vh;
}
.step .details .contentdetails .left .img_détails {
  position: absolute;
  top: 10%;
  left: 10%;
}
.step .details .contentdetails .right {
  width: 50vw;
  height: 30vh;
  padding-right: 10%;
}
.step .details .contentdetails .right h2 {
  font-size: 70px;
  font-family: "Bebas neue";
  color: #C00D0D;
}
.step .details.open {
  transform: translateX(0%);
}
.step .button {
  position: absolute;
  background-color: #C00D0D;
  width: 24px;
  height: 24px;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  cursor: pointer;
  z-index: 21;
}
.step .sidebar {
  background-color: #C00D0D;
  position: absolute;
  top: 0;
  right: 16px;
  width: 33%;
  height: 100vh;
  transition: all 1s;
  transform: translateX(100%);
  opacity: 0%;
  color: white;
  padding: 32px;
  z-index: 21;
}
.step .sidebar H3 {
  margin-top: 32px;
  color: #ECE6CF;
  font-size: 34px;
  font-family: "Bebas neue";
  margin-bottom: 32px;
}
.step .sidebar li {
  font-family: "nunito";
  font-size: 1.2em;
  font-weight: 200;
}
.step .sidebar p {
  font-family: "nunito";
  font-size: 1.2em;
  font-weight: 200;
}
.step .sidebar.open {
  transform: translateX(4%);
  opacity: 100%;
}

.first_step .background {
  background-image: url("/src/image/premiere.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.timeline {
  background-color: #ECE6CF;
  position: fixed;
  top: 0;
  left: -20px;
  width: 200px;
  height: 105vh;
  transition: all 1s;
  transform: translateX(-100%);
  color: white;
  padding: 32px;
  z-index: 999;
}
.timeline H3 {
  color: #C00D0D;
  font-size: 34px;
  font-family: "Bebas neue";
  margin-bottom: 32px;
}
.timeline .button_timeline {
  position: absolute;
  background-color: #ECE6CF;
  width: 100px;
  height: 110px;
  left: 100%;
  top: 50%;
  transform: translateY(-48px) translateX(-50%);
  border-radius: 50%;
  cursor: pointer;
}
.timeline.open {
  transform: translateX(10%);
}
.timeline li {
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  left: 40%;
  margin-bottom: 80px;
  background-color: #C00D0D;
}
.timeline img {
  position: absolute;
  left: 40%;
  top: 6px;
}
/*# sourceMappingURL=style.css.map */