@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');

$primaryColor: #C00D0D;
$secondaryColor: #ECE6CF;
$marge: 32px;
$typocorp: "nunito";
$typotitle: "Bebas neue";
$colorbody:#fbf7f4;


html{

  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
  background-color: $colorbody
}

article{

  min-height: 100vh;
  width:100vw;
  position: relative;
}

.tittle{

  article{
    background-image:url("http://placehold.it/1280x720");
    background-repeat: no-repeat;
    background-size: cover;


    .tittle_content{

      font-size: 111px;
      position: relative;
      bottom: -5em;
      left:6%;
      width: 791px;
      font-family: $typotitle;

    }

  }

}

#header{
  .button_detail{
    position: absolute;
    top: 67%;
    left: 1%;
    z-index: 21;
    background-color: $primaryColor;
    width:24px;
    height: 24px;
    cursor: pointer;


  }

  .details{
    background-color: white;
    position: absolute;
    top: 0;
    right: $marge / 2;
    width: 100vw;
    height: 105vh;
    transition: all 1s;
    transform: translateX(110%);
    color: black;
    padding: $marge;
    z-index: 99;

      .backbutoon{
      position: relative;
      z-index: 99;
    }

      .contentdetails{

      display: flex;
      align-items: center;

      .left{

        width: 50vw;
        height: 100vh;
        .img_détails{
          position: absolute;
          top:10%;
          left:10%;
        }

      }

      .right{
        width: 50vw;
        height: 30vh;
        padding-right: 10%;


        h2{
          font-size: 70px;
          font-family: $typotitle;
          color: $primaryColor;
        }
      }
    }

    &.open{
      transform: translateX(0%);
    }
  }


    .topvideo{
      position: absolute;
      z-index: 9;
      top: 0;
      width: 100vw;
    }
    .videobg{

      width: 110vw;
      z-index: 1;

      video{
        height: 100vh;
        width: 100vw;
        object-fit: cover;
        object-position: center;

      }

    }
  .header_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6.25em;
    margin: 0 9em 0px 9em;
    z-index: 9;
    img{

      margin-top: 5em;
    }
    button{

      width: 245px;
      height: 57px;
      padding: 16px 19px;
      background: #FFFFFF;
      color: $primaryColor;
      border: none;
      border-radius: 10px;
      font-size: 16px;
      font-family: $typocorp;
      margin-top: 5em;
      transition: all .2s ease-in-out;
      cursor: pointer;

      &:hover{
        transform: scale(0.9);
      }

      &:focus{
    outline: none;
  }

    }

  }
  .cta{
    position: relative;
    top: 15em;
    #cta_intro{

      text-decoration: none;
      p{

        color: #FFFF;
        font-size: 16px;
        font-weight: 50;
        font-family: $typocorp;
        text-align: center;

      }


    }
  }






  .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1{


      font-size:174px;
      font-family: $typotitle;
      color: #FFFF;
      letter-spacing: 0.015em;
      margin-top: 210px;
      margin-bottom: 24px;
      height: 166px;

    }
    h2{
      font-size: 34px;
      letter-spacing: -0.03em;
      color: #FFFFFF;
      font-family: $typocorp;
      font-weight: 100;
      margin-top: 8px;

    }
  }
}

//Présentation de TOM//
#tomprésentation{

}
#tom_explication{

  h2{
    font-size: 111px;
    font-family: $typotitle;
    margin:66px 0 16px 145px;
    color: $primaryColor;

  }

  p{
    width: 617px;
    font-size: 20px;
    margin:0 0 0 145px;
  }

  .img_content{
    display: flex;
    align-items: center;
    justify-content:center;
  }

}


//Fin de présentation tom//

//CSS Communs des étapes//
.step{


  width: 100vw;
//début volet détails//
  .button_detail{
    position: absolute;
    top: 67%;
    left: 1%;
    z-index: 21;
    background-color: $primaryColor;
    width:24px;
    height: 24px;
    cursor: pointer;


  }

  .details{
    background-color: white;
    position: absolute;
    top: 0;
    right: $marge / 2;
    width: 100vw;
    height: 105vh;
    transition: all 1s;
    transform: translateX(110%);
    color: black;
    padding: $marge;
    z-index: 99;

      .backbutoon{
      position: relative;
      z-index: 99;
    }

      .contentdetails{

      display: flex;
      align-items: center;

      .left{

        width: 50vw;
        height: 100vh;
        .img_détails{
          position: absolute;
          top:10%;
          left:10%;
        }

      }

      .right{
        width: 50vw;
        height: 30vh;
        padding-right: 10%;


        h2{
          font-size: 70px;
          font-family: $typotitle;
          color: $primaryColor;
        }
      }
    }

    &.open{
      transform: translateX(0%);
    }
  }
//Fin volet détails//

//sidebar EXPLICATIVE//

  .button{
    position: absolute;
    background-color: $primaryColor;
    width:24px;
    height: 24px;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    cursor: pointer;
    z-index: 21;
  }

  .sidebar{
    background-color: $primaryColor;
    position: absolute;
    top: 0;
    right: $marge / 2;
    width: 33%;
    height: 100vh;
    transition: all 1s;
    transform: translateX(100%);
    opacity: 0%;
    color: white;
    padding: $marge;
    z-index: 21;
    H3{
      margin-top: $marge;
      color: #ECE6CF;
      font-size: 34px;
      font-family: $typotitle;
      margin-bottom: $marge;
    }

    li{
      font-family: $typocorp;
      font-size : 1.2em;
      font-weight: 200;
    }

    p{
      font-family: $typocorp;
      font-size : 1.2em;
      font-weight: 200;
    }
    &.open{
      transform: translateX(4%);
      opacity: 100%;
    }
  }
}
//fin sidebar explicative//

//Fin css communs step//


.first_step{

  .background{
    background-image: url('/src/image/premiere.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
    ;

  }
}



//timeline//
.timeline{
  background-color: $secondaryColor;
  position: fixed;
  top: 0;
  left: -20px;
  width: 200px;
  height: 105vh;
  transition: all 1s;
  transform: translateX(-100%);
  color: white;
  padding: $marge;
  z-index: 999;


  H3{
    color: $primaryColor;
    font-size: 34px;
    font-family: $typotitle;
    margin-bottom: $marge;
  }
  .button_timeline{
    position: absolute;
    background-color: $secondaryColor;
    width: 100px;
    height: 110px;
    left: 100%;
    top: 50%;
    transform: translateY(-48px) translateX(-50%);
    border-radius: 50%;
    cursor: pointer;

  }
  &.open{
    transform: translateX(10%);

  }
  li{
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    left: 40%;
    margin-bottom: 80px;
    background-color: $primaryColor;
  }
  img{
    position: absolute;
    left: 40%;
    top: 6px;

  }
}
